/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --pri: #f8e5d1;
    --sec: #4d281e;
    --tri1: #bd8a00;
    --tri2: #be8568;
    --red: red;
    --black: black;
    --green: rgb(7, 153, 92);
    --blue: rgb(43, 187, 231);
}


@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);

}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./AeonikTRIAL-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--pri);
    font-family: aeonik;
}

html,
body {
    height: 100%;
    width: 100%;
     background-color: var(--sec);
}

#main {
    height: 120%;
    width: 100%;
    background-color: var(--sec);
}

nav {
    width: 100%;
    height: 50px;
    padding: 40px;
    margin-top: -10px;
    margin-bottom: 20px;

    .nav-in {
        background-color: var(--tri2);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 20px;

        .theme {
            background-color: var(--pri);
            padding: 8px;
            border-radius: 10px;
            -webkit-transition: all ease 0.2s;
            -o-transition: all ease 0.2s;
            transition: all ease 0.2s;
            font-size: 20px;
            color: var(--sec);
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .theme:active {
            scale: 0.92;
        }
    }
}

section.allElems {
    height: auto;
    width: 100%;
    padding: 40px;
    position: absolute;
}

.allElems header {
    background-image: url(./fav/header\ bg.avif);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 20px;
    width: 100%;
    background-color: var(--tri2);
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 40px;
}

.header1 {
    h1 {
        font-weight: 700;
        font-size: 70px;
        line-height: 1;
        margin-bottom: 20PX;
    }

    h2 {
        font-weight: 700;
        font-size: 50px;
        line-height: 1;
    }

    h3 {
        font-weight: 500;
        font-size: 35px;
    }
}

.header2 {
    h1 {
        font-weight: 700;
        font-size: 50px;
    }

    h4 {
        font-weight: 500;
        font-size: 25px;
        margin-bottom: 20PX;
    }

    h3 {
        font-weight: 500;
        font-size: 18px;
        opacity: 0.9;
    }
}

.allElems .allfeatures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    gap: 20px;
}

.elem {
    border-radius: 10px;
    height: 280px;
    width: 230px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.863);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.863);

    :active {
        scale: 0.97;
        -webkit-transition: all ease 0.2s;
        -o-transition: all ease 0.2s;
        transition: all ease 0.2s;
    }

    img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 10px;
    }

    h2 {
        position: absolute;
        bottom: 4%;
        right: 5%;
        font-size: 25px;
        font-weight: 500;
    }
}

.fullElem {
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 40px;
    display: none;
    position: absolute;

    h1 {
        font-size: 50px;
        font-weight: 700;
    }

    .back {
        position: absolute;
        right: 5%;
        padding: 10px;
        background-color: var(--red);
        border-radius: 50%;
        font-size: 20px;
        border: none;
        font-weight: 700;
        -webkit-transition: all ease 0.2s;
        -o-transition: all ease 0.2s;
        transition: all ease 0.2s;

    }

    .back:active {
        scale: 0.95;
    }

    .back:hover {
        opacity: 0.5;
    }
}

.todo-list-fullpage {


    .todo-container {
        height: 80%;
        width: 100%;
        margin-top: 3vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .addtask {
            height: 100%;
            width: 33%;
            background-color: var(--tri2);
            border-radius: 15px;

            form {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
                padding: 30px;

                input#task-input {
                    width: 100%;
                    padding: 10px 20px;
                    font-size: 20px;
                    border-radius: 10px;
                    border: none;
                    background-color: var(--pri);
                    color: var(--sec);
                    outline: none;
                    margin-bottom: 1vw;
                }

                textarea {
                    width: 100%;
                    height: 17vw;
                    padding: 10px 20px;
                    font-size: 20px;
                    border-radius: 10px;
                    border: none;
                    background-color: var(--pri);
                    color: var(--sec);
                    outline: none;
                    margin-bottom: 1vw;
                }

                #mark {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                    flex-direction: row;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    gap: 1vw;
                    -webkit-box-pack: start;
                    -ms-flex-pack: start;
                    justify-content: flex-start;
                    padding: 10px 10px;
                    margin-bottom: 1vw;
                    width: 100%;
                    font-size: 18px;

                    input {
                        scale: 1.5;
                    }
                }

                button {
                    width: 100%;
                    padding: 10px 20px;
                    font-size: 20px;
                    border-radius: 10px;
                    border: none;
                    background-color: var(--tri1);
                    outline: none;
                    margin-bottom: 1vw;
                    -webkit-transition: all linear 0.2s;
                    -o-transition: all linear 0.2s;
                    transition: all linear 0.2s;
                }

                button:active {
                    scale: 0.96;
                }
            }
        }

        .alltask {
            height: 100%;
            width: 65%;
            background-color: var(--tri2);
            border-radius: 15px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            padding: 30px;
            overflow: auto;
            scrollbar-width: none;

            .task {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                width: 100%;
                background-color: var(--pri);
                padding: 10px 20px;
                border-radius: 10px;
                margin-bottom: 1vw;

                .task-detasls {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: start;
                    -ms-flex-align: start;
                    align-items: flex-start;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;

                }

                h6 {
                    color: var(--black);
                    font-weight: 500;
                    font-size: 13px;
                }

                h4 {
                    font-size: 30px;
                    color: var(--sec);
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: start;
                    -ms-flex-pack: start;
                    justify-content: flex-start;
                    gap: 6px;

                    span {
                        border-radius: 10px;
                        padding: 2px 8px;
                        font-size: 10px;
                        font-weight: 500;
                        background-color: var(--red);
                    }

                    span.true {
                        opacity: 1;
                    }

                    span.false {
                        opacity: 0;
                    }
                }

                button {
                    padding: 10px 20px;
                    color: var(--pri);
                    background-color: green;
                    border-radius: 5px;
                    border: none;
                    -webkit-transition: all linear 0.2s;
                    -o-transition: all linear 0.2s;
                    transition: all linear 0.2s;
                }

                button:active {
                    scale: 0.96;
                }
            }
        }
    }
}


.daily-plan-fullpage {
    .daily-planner {
        height: 85%;
        width: 100%;
        margin-top: 30px;
        background-color: var(--tri2);
        padding: 30px;
        border-radius: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        overflow: auto;
        scrollbar-width: none;

        .daily-planner-time {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            position: relative;
            margin-bottom: 10px;
            width: 49%;

            input {
                padding: 15px 40px;
                font-size: 25px;
                background-color: var(--sec);
                border-radius: 5px;
                width: 100%;
                border: none;
                outline: none;
                padding-top: 30px;
            }

            p {
                color: var(--tri1);
                position: absolute;
                top: 10%;
                left: 2%;
                font-size: 17px;
            }
        }
    }
}

.Motivation-fullpage {
    position: relative;

    .motivation-container {
        height: 400px;
        width: 700px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 50px;

        .container-wraper {
            width: 700px;
            position: absolute;
            z-index: 10;
            border-radius: 30px;
            background-color: var(--tri1);
        }

    }

    .motivation-container::after {
        content: "";
        height: 400px;
        width: 700px;
        scale: 1.13;
        border-radius: 50px;
        position: absolute;
        background-color: var(--tri1);
        -webkit-filter: blur(150px);
        filter: blur(150px);
        z-index: 8;
    }

    .container-wraper {
        -webkit-box-shadow: 0 0 20px var(--tri2);
        box-shadow: 0 0 20px var(--tri2);
        padding: 14px;
        position: relative;

        img {
            position: absolute;
            right: 5%;
            top: 7%;
            height: 80px;
            opacity: 0.3;
        }

        .motive1 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            padding: 10px;

            h2 {
                font-weight: 500;
                background-color: var(--sec);
                border-radius: 20px;
                text-align: center;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                padding: 10px 10px;
                font-size: 30px;
            }
        }

        .motive2 {
            margin-top: 15px;
            padding: 10px;

            h1 {
                font-size: 35px;
                font-weight: 700;
                color: var(--sec);
                line-height: 1;
            }
        }

        .motive3 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            padding: 10px;

            h2 {
                font-weight: 500;
                background-color: var(--sec);
                border-radius: 20px;
                text-align: center;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                padding: 10px 10px;
                font-size: 30px;
            }
        }

    }
}

.Promodoro-fullpage {
    position: relative;

    h2 {
        position: absolute;
        top: 20%;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        background-color: var(--green);
        padding: 10px 20px;
        font-size: 30px;
        border-radius: 10px;
    }

    h1 {
        font-size: 70px;
        font-weight: 500;
    }

    .pomo-timer {
        position: absolute;
        top: 45%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;

        h1 {
            font-size: 150px;
            text-align: center;
            letter-spacing: 2px;
        }

        button {
            padding: 15px 40px;
            background-color: var(--tri2);
            border: none;
            border-radius: 5px;
            font-size: 20px;
            margin: 5px;
            -webkit-transition: all ease 0.2s;
            -o-transition: all ease 0.2s;
            transition: all ease 0.2s;
            font-weight: 700;
        }

        button:active {
            scale: 0.97;
        }
    }
}

.daily-goals-fullpage {


    #input {
        margin-top: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        padding: 10px 20px;

        #goalInput {
            padding: 10px 40px;
            font-size: 20px;
            width: 65%;
            border-radius: 10px;
            outline: none;
            color: var(--sec);
            border: none;
        }

        button {
            padding: 10px 20px;
            border-radius: 10px;
            outline: none;
            border: none;
            width: 25%;
            color: var(--sec);
            background-color: var(--tri1);
            font-size: 20px;
            transition: all ease 0.2s;
        }

        button:active {
            scale: 0.92;
        }
    }

    ul {
        list-style: none;
        padding: 10px;
    }

    li {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: capitalize;

        span {
            cursor: pointer;
            font-size: 25px;
        }

        button {
            font-size: 20px;
            border-radius: 50%;
            padding: 5px;
            outline: none;
            border: none;
            transition: all ease 0.2s;
        }

        button:active {
            scale: 0.92;
        }
    }

    .done {
        text-decoration: line-through;
        color: gray;
    }
}



// Responsive layout

@media (max-width: 600px) {
    #main {
        height: 127%;
        width: 100%;
        background-color: var(--sec);
    }

    nav {
        width: 100%;
        height: 40px;
        padding: 40px;
        margin-bottom: 10px;

        .nav-in {
            .theme {
                text-align: center;
                padding: 8px;
                font-size: 15px;
                
            }
            h1{
                    font-size: 20px;
                    line-height: 1;
                }
        }
    }

    .allElems header {
        height: 200px;
        border-radius: 20px;
        overflow: hidden;
        padding: 20px;
    }

    .header1 {
        h1 {
            font-size: 20px;
            line-height: 1.3;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 20px;
            line-height: 1;
        }

        h3 {
            font-size: 20px;
        }
    }

    .header2 {
        h1 {
            font-size: 30px;
        }

        h4 {
            font-size: 18px;
            margin-bottom: 20PX;
        }

        h3 {
            font-size: 15px;
            opacity: 0.8;
        }
    }

    .elem {
        border-radius: 10px;
        height: 180px;
        width: 130px;


        h2 {
            font-size: 15px;
        }
    }

    .fullElem {
        height: 130%;
        padding: 20px;

        h1 {
            font-size: 30px;
        }

        .back {
            font-size: 15px;
        }
    }

    .todo-list-fullpage {
        margin-top: 30px;

        .todo-container {
            width: 100%;
            margin-top: 3vw;
            flex-direction: column;

            .addtask {
                height: 30%;
                width: 100%;
                background-color: var(--tri2);
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 5px;


                form {

                    width: 100%;

                    input#task-input {
                        font-size: 18px;
                        margin-bottom: 1.5vw;
                    }

                    textarea {
                        height: 15vw;
                        font-size: 18px;
                        margin-bottom: 1.3vw;
                    }

                    #mark {
                        gap: 3vw;
                        font-size: 15px;

                        input {
                            scale: 1.2;
                        }
                    }
                }
            }

            .alltask {
                margin-top: 30px;
                width: 100%;
                padding: 10px;

                .task {
                    padding: 10px;
                    margin-bottom: 1.2vw;

                    h6 {
                        color: var(--black);
                        font-weight: 500;
                        font-size: 12px;
                    }

                    h4 {
                        font-size: 20px;
                        flex-direction: row;

                    }

                    button {
                        font-size: 20px;
                        padding: 10px;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .daily-plan-fullpage {
        margin-top: 30px;

        .daily-planner {
            width: 100%;
            padding: 20px;

            .daily-planner-time {
                margin-bottom: 20px;
                width: 100%;

                input {
                    padding: 15px 20px;
                    font-size: 18px;
                }

                p {
                    top: 10%;
                    left: 30%;
                    font-size: 15px;
                }
            }
        }
    }

    .Motivation-fullpage {
        height: 110vh;
        margin-top: 40px;
        position: relative;
        overflow: hidden;

        .motivation-container {
            padding: 0 20px;
            height: 200px;
            width: 80%;
            position: absolute;
            top: 30%;
            left: 53%;
            border-radius: 20px;

            .container-wraper {
                width: 80%;
                position: absolute;
                z-index: 10;
                border-radius: 30px;
                background-color: var(--tri1);
            }

        }

        .motivation-container::after {
            content: "";
            height: 200px;
            width: 80%;
        }

        .container-wraper {
            -webkit-box-shadow: 0 0 20px var(--tri2);
            box-shadow: 0 0 20px var(--tri2);
            padding: 14px;
            position: relative;

            img {
                position: absolute;
                right: 5%;
                top: 20%;
                height: 30px;
                opacity: 0.3;
            }

            .motive1 {
                h2 {
                    font-size: 10px;
                }
            }

            .motive2 {
                margin-top: 15px;
                padding: 10px;

                h1 {
                    font-size: 20px;
                }
            }

            .motive3 {
                h2 {
                    font-size: 10px;
                }
            }

        }
    }

.Promodoro-fullpage {
    position: relative;
margin-top: 40px;
height: 110vh;
    h2 {
        top: 28%;
        font-size: 25px;
        width: 80%;
        text-align: center;
    }

    h1 {
        font-size: 35px;
        font-weight: 500;
    }

    .pomo-timer {
        top: 50%;

        h1 {
            font-size: 100px;
        }

        button {
            padding: 10px 20px;
            font-size: 20px;
            margin: 8px;
        }
    }
}
.daily-goals-fullpage {
margin-top: 40px;

    #input {
        margin-top: 30px;
        padding: 10px;

        #goalInput {
            padding: 10px 20px;
            font-size: 20px;
            width: 65%;
            border-radius: 10px;
            outline: none;
            color: var(--sec);
            border: none;
        }

        button {
            padding: 10px 0;
            width: 30%;
            font-size: 20px;
            transition: all ease 0.2s;
        }
    }
}
}

@media (min-width: 600px) and (max-width: 820px) {
   
    .allElems header {
        height: 300px;
    }

    
    .header1 {
        h1 {
            font-size: 40px;
            line-height: 1.3;
        }

        h2 {
            font-size: 40px;
            line-height: 1;
        }

        h3 {
            font-size: 25px;
        }
    }

    .header2 {
        h1 {
            font-size: 50px;
        }

        h4 {
            font-size: 30px;
            margin-bottom: 20PX;
        }

        h3 {
            font-size: 20px;
            opacity: 0.8;
        }
    }
 

}
